
/*
IMPORTANT! Main dev(https://github.com/gibberishdev) that worked on this file has DYSLEXIA!
That means that if you see smth that can be named, described and what not better than you see,
PLEASE, I BEG YOU, open a pull request on github to fix that stuff >.>
*/


/*Variables for theme.
AKA if ya want to recolour the app just change colors inside here and leave other values as is*/
:root {
  /*BHCTR theme colors*/
  /*BHCTR = Blue Honda Civic Type R*/
  --color-darkest: #001030; /*Default #001030*/
  --color-dark: #002040; /*Default #002040*/
  --color-base: #004060; /*Default #004060*/
  --color-light: #005070; /*Default #005070*/

  --color-text: #a0d0d0; /*Default #a0d0d0*/
  --color-text-highlight: #ffffff; /*Default #ffffff*/

  --color-close-btn: #bf3030; /*Default #bf3030*/

  --default-project-view-width: 256px; /*Default 256px*/
}

@font-face {
  font-family: 'NovaSquareRegular';
  src: url('../../assets/fonts/novasquare-regular-webfont.woff') format('woff');
}

body {
  margin: 0px;
  height: 100vh;
  background-color: var(--color-darkest);
}

/* GLOBAL STYLING.
Styling for the elements that reoccur throught the app
(Titlebar, content wrapper and blah blah blah)*/

img {
  user-select: none;
  pointer-events: none;
}

/* \/ Titlebar Elements \/ */
/* Titlebar container that houses all the elements in the titlebar of a window.
I know, shocking */
#titlebar {
  height: 30px;

  font-size: 20px;
  font-family: 'NovaSquareRegular';
  color: var(--color-text-highlight);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--color-base);

  user-select: none;
}

/*app icon logo in top left corner*/
#logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 40px;

  user-select: none;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
/*sizing of logo image*/
.logo-img {
  height: 22px;
}

/* Dropdown options buttons */
.titlebar-button {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 36px;
  width: auto;
  box-sizing: border-box;
  border: 4px solid var(--color-base);
  border-right: 1px;
  border-left: 1px;
  justify-content: center;
  font-size: 14px;
  color: var(--color-text);
  margin-left: 2px;
  margin-right: 2px;
  transition: linear;
  transition-duration: 100ms;
  padding-left: 8px;
  padding-right: 8px;
  pointer-events: all;
}
.titlebar-button:hover {
  color: var(--color-text-highlight);
  background-color: var(--color-light);
}
.titlebar-button:active {
  background-color: var(--color-base);
  transition-duration: 20ms;
}

/* Dropdown menu container */
.dropdown-container {
  display: none;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  top: 0px;
  left: 38px;
  border: 1px solid var(--color-dark);
  border-radius: 0px 6px 6px 6px;
  background-color: var(--color-base);
  width: 256px;
  height: auto;
  padding: 2px;
  z-index: 2;
  transition:  500ms linear;
  transition-property: height;
}
/* Dropdown option styling */
.dropdown-option {
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 4px;
  height: 24px;
  transition: linear;
  transition-duration: 100ms;
  background-color: var(--color-base);
  color: var(--color-text);
  padding-left: 4px;
  padding-right: 4px;
}
.dropdown-option:hover {
  background-color: var(--color-light);
  color: var(--color-text-highlight);
}
/* Dropdown menu separator to split categories of options inside menu */
.dropdown-separator {
  width: auto;
  height: 1px;
  background-color: var(--color-light);
  border: 4px solid var(--color-base);
  margin-top: 4px;
  margin-bottom: 4px;
}

/* App window label */
.label {
  display: flex;
  flex-grow: 100;
  justify-content: center;  
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Styling of minimize app button */
.minimize-button {
  display: flex;
  min-width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: linear;
  transition-duration: 100ms;
  user-select: none;
}
.minimize-button:hover {
  background-color: var(--color-light);
}
.minimize-button:active {
  background-color: var(--color-dark);
  transition-duration: 20ms;
}

/* Styling of maximize app button */
.maximize-button {
  display: flex;
  min-width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: linear;
  transition-duration: 100ms;
  user-select: none;
}
.maximize-button:hover {
  background-color: var(--color-light);
}
.maximize-button:active {
  background-color: var(--color-dark);
  transition-duration: 20ms;
}

/* Styling of close app button */
.close-button {
  display: flex;
  min-width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: linear;
  transition-duration: 100ms;
  user-select: none;
}
.close-button:hover {
  background-color: var(--color-close-btn);
  color: black;
}
.close-button:active {
  background-color: var(--color-dark);
  transition-duration: 20ms;
}
/* /\ End of titlebar elements /\ */

/* Wrapper
Houses all the content and usually visible only as background.
Used to give size to content inside of it*/
#wrapper{
  height: calc(100vh - 60px);

  background-color: var(--color-darkest);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* STATUSBAR STYLING
Shows info for:
TODO: Add description for all the stuff that will be displayed in statusbar */
#statusbar {
  height: 30px;
  
  background-color: var(--color-base);
}
/* END OF STATUSBAR STYLING */

/* END OF GLOBAL STYLING */

/* STYLING FOR WORKSPACE. This styling applies to workspace stage of app.  */


#sidebar {
  background-color: var(--color-light);
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}

#project-tree-view{
  background-color: var(--color-darkest);
  width: var(--default-project-view-width);
  max-width: 512px;
  resize: horizontal;
}

#project-tree-view-resizer {
  transition: linear;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  background-color: var(--color-darkest);
  width: 6px;
  cursor: col-resize;
  user-select: none;
}
#project-tree-view-resizer:hover {
  background-color: var(--color-light);
}
#project-tree-view-resizer:active {
  background-color: var(--color-text);
}
#project-tree-view-resizer-image {
  pointer-events: none;
}

#workspace {
  background-color: var(--color-dark);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}

#tab-container {
  background-color: var(--color-light);
  height: 32px;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;

  overflow-x: auto;
  scrollbar-gutter: 2px;
}
#tab-container::-webkit-scrollbar {
  height: 2px;
  background-color: var(--color-dark);
}
#tab-container::-webkit-scrollbar-thumb {
  background-color: var(--color-base);
}
#tab-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
}

.tab {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  width: 128px;
  max-width: 256px;
  border-right: 1px solid var(--color-base);
  color: var(--color-text);
  font-family: 'NovaSquareRegular';
  user-select: none;
}
.tab:hover {
  background-color: var(--color-base);
  color: var(--color-text-highlight);
}

.tab#selected {
  background-color: var(--color-dark);
  color: var(--color-text);
}
.tab#selected:hover {
  background-color: var(--color-base);
  color: var(--color-text-highlight);
}

#breadcrumbs {
  background-color: var(--color-dark);
  height: 16px;
  width: calc(100% - 16px);
  flex-grow: 0;
}

#file-container {
  background-color: rgba(0, 0, 0, 0);
  flex-grow: 1;
  overflow-y: auto;
  transition: cubic-bezier(.45,.18,.4,1.9);
  transition-duration: 100ms;
  box-shadow: inset 0 0px 0px 0px var(--color-darkest), inset 0 0px 0px 0px var(--color-darkest);
}
#file-container.top-shadow {
  box-shadow: inset 0 6px 4px -3px var(--color-darkest), inset 0 0px 0px 0px var(--color-darkest);
}
#file-container.bottom-shadow {
  box-shadow: inset 0 0px 0px 0px var(--color-darkest), inset 0 -6px 4px -3px var(--color-darkest);
}
#file-container.both-shadows {
  box-shadow: inset 0 6px 4px -3px var(--color-darkest), inset 0 -6px 4px -3px var(--color-darkest);
}
#file-container::-webkit-scrollbar {
  width: 16px;
}
#file-container::-webkit-scrollbar-track {
  border-left: 1px solid var(--color-light);
  background-color: var(--color-dark);
}
#file-container::-webkit-scrollbar-thumb {
  border-left: 1px solid var(--color-light);
  background-color: var(--color-base);
}
#file-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light);
}
/* END OF WORKSPACE STYLING */

/* PROJECT VIEW STYLING
Holds styling for screen for project selection screen
Obviously inspired by blockbench >.> */

/* Container ofr project view content */
#project-view-sections {
  background-color: var(--color-dark);
  height: 95%;
  width: 1392px; /*default for 1920px wide window*/
  margin: auto;
  overflow: hidden;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 256px auto;
  grid-template-rows: min-content;
}
#project-view-sections::-webkit-scrollbar {
  position: absolute;
  left: 8px;
  width: 8px;
}
#project-view-sections::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: var(--color-base);
  transition: 300ms;
}
#project-view-sections:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
}

/* banner image container */
#banner {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-light);
  height: 300px;
  transition: 100ms;
  transition-timing-function: ease-in;
  overflow: hidden;
}

#options-container {
  background-color: var(--color-base);
  height: auto;

}

#recent-projects-scroll-container {
  background-color: var(--color-dark);
  height: auto;
  /* Flips direction to move scrollbar to the right side */
  direction: rtl;
  scrollbar-gutter: stable;
  
}

#recent-projects {
  margin-left: 8px;
  direction: ltr;
  display: grid;
  grid-template-columns: repeat(4, 282px);
  grid-auto-rows: 422px;
  
}

.project-card {
  margin: auto;
  background-color: var(--color-base);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-sizing: border-box;
  border: solid 2px var(--color-darkest);
  height: 384px;
  width: 256px;
  overflow: hidden;
  transition: 250ms;
  color: var(--color-text);
}
.project-card:hover {
  height: 400px;
  width: 270px;
  border: solid 2px var(--color-text);
  color: var(--color-text-highlight);
}
.project-card img {
  width: 100%;
  image-rendering: pixelated;
}

.project-card-text {
  font-size: 20px;
  font-family: 'NovaSquareRegular';
  margin-left: 4px;
  margin-right: 4px;
}
/* END OF PROJECT VIEW STYLING */

/* DUD FILE FOR DEVELOPMENT PUTPOSES ONLY. WILL DISAPPEAR AS SOON AS IT IS NOT NEEDED ANYMORE >:D */
#file {
  color: var(--color-text);
  height: 200%;
}
