
/*
IMPORTANT! Main dev(https://github.com/gibberishdev) that worked on this file has DYSLEXIA!
That means that if you see smth that can be named, described and what not better than written,
PLEASE, I BEG YOU, open a pull request on github to fix that stuff >.>
*/


/* TODO: REMOVE THIS ON PUBLISH
:root {
  BHCTR theme colors
  BHCTR = Blue Honda Civic Type R
  --color-darkest: #001030;
  --color-dark: #002040;
  --color-base: #004060;
  --color-light: #005070;
  --color-text: #a0d0d0;
  --color-text-highlight: #ffffff;
  --color-close-btn: #bf3030;
} */

:root {
  --default-project-view-width: 256px;
}

/* IMPORTS */

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../../assets/fonts/material-icons.woff2") format("woff2"), url("../../assets/fonts/material-icons.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-feature-settings: "liga";
}

@font-face {
  font-family: 'NovaSquareRegular';
  src: url('../../assets/fonts/novasquare-regular-webfont.woff') format('woff');
}

body {
  margin: 0px;
  height: 100vh;
  background-color: var(--color-darkest);
}

/* GLOBAL STYLING.
Styling for the elements that reoccur throught the app
(Titlebar, content wrapper and blah blah blah)*/

img {
  user-select: none;
  pointer-events: none;
}

/* \/ Titlebar Elements \/ */
/* Titlebar container that houses all the elements in the titlebar of a window.
I know, shocking */
#titlebar {
  height: 30px;

  font-size: 20px;
  font-family: 'NovaSquareRegular';
  color: var(--color-text-highlight);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--color-base);

  user-select: none;
}

/*app icon logo in top left corner*/
#logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 40px;

  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
/*sizing of logo image*/
.logo-img {
  height: 22px;
}

/* Dropdown options buttons */
.titlebar-button {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 36px;
  width: auto;
  box-sizing: border-box;
  border: 4px solid var(--color-base);
  border-right: 1px;
  border-left: 1px;
  justify-content: center;
  font-size: 14px;
  color: var(--color-text);
  margin-left: 2px;
  margin-right: 2px;
  transition: linear;
  transition-duration: 100ms;
  padding-left: 8px;
  padding-right: 8px;
  pointer-events: all;
  cursor: pointer;
}
.titlebar-button:hover {
  color: var(--color-text-highlight);
  background-color: var(--color-light);
}
.titlebar-button:active {
  background-color: var(--color-base);
  transition-duration: 20ms;
}

/* Dropdown menu container */
.dropdown-container {
  display: none;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  top: 0px;
  left: 38px;
  border: 1px solid var(--color-dark);
  border-radius: 0px 6px 6px 6px;
  background-color: var(--color-base);
  width: 256px;
  height: auto;
  padding: 2px;
  z-index: 2;
  transition:  500ms linear;
  transition-property: height;
}
/* Dropdown option styling */
.dropdown-option {
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 4px;
  height: 24px;
  transition: linear;
  transition-duration: 100ms;
  background-color: var(--color-base);
  color: var(--color-text);
  padding-left: 4px;
  padding-right: 4px;
}
.dropdown-option:hover {
  background-color: var(--color-light);
  color: var(--color-text-highlight);
}
/* Dropdown menu separator to split categories of options inside menu */
.dropdown-separator {
  width: auto;
  height: 1px;
  background-color: var(--color-light);
  border: 4px solid var(--color-base);
  margin-top: 4px;
  margin-bottom: 4px;
}

/* App window label */
.label {
  display: flex;
  flex-grow: 100;
  justify-content: center;  
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Styling of minimize app button */
.minimize-button {
  display: flex;
  min-width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: linear;
  transition-duration: 100ms;
  user-select: none;
}
.minimize-button:hover {
  background-color: var(--color-light);
}
.minimize-button:active {
  background-color: var(--color-dark);
  transition-duration: 20ms;
}

/* Styling of maximize app button */
.maximize-button {
  display: flex;
  min-width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: linear;
  transition-duration: 100ms;
  user-select: none;
}
.maximize-button:hover {
  background-color: var(--color-light);
}
.maximize-button:active {
  background-color: var(--color-dark);
  transition-duration: 20ms;
}

/* Styling of close app button */
.close-button {
  display: flex;
  min-width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: linear;
  transition-duration: 100ms;
  user-select: none;
}
.close-button:hover {
  background-color: var(--color-close-btn);
  color: black;
}
.close-button:active {
  background-color: var(--color-dark);
  transition-duration: 20ms;
}
/* /\ End of titlebar elements /\ */

/* \/ Start of tab container styling \/ */
#project-tabs-container {
  height: 24px;
  background-color: var(--color-base);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.project-tab {
  user-select: none;
  height: 24px;
  width: 256px;
  box-sizing: border-box;
  border-left: solid var(--color-darkest) 1px;
  border-right: solid var(--color-darkest) 1px;
  color: var(--color-text);
  font-family: 'Nova Square';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.project-tab {
  user-select: none;
  height: 24px;
  width: 256px;
  box-sizing: border-box;
  border-left: solid var(--color-darkest) 1px;
  border-right: solid var(--color-darkest) 1px;
  background-color: var(--color-base);
  font-family: 'Nova Square';
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  transition: 150ms linear;
}
.project-tab:hover {
  color: var(--color-text-highlight);
}
.project-tab-label {
  flex-grow: 1;
  text-align: center;
}
.project-tab-close {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-tab:hover .project-tab-close {
  background-color: var(--color-light);
}
.project-tab-add {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  text-align: center;
  color: var(--color-text);
  border: solid var(--color-base) 2px;
  border-radius: 4px;
  user-select: none;
}
.project-tab-add:hover {
  background-color: var(--color-light);
}
/* /\ End of tab container styling /\ */

/* Wrapper
Houses all the content and usually visible only as background.
Used to give size to content inside of it*/
#wrapper{
  height: calc(100vh - 76px);
  background-color: var(--color-darkest);
  display: flex;
}

/* STATUSBAR STYLING
Shows info for:
TODO: Add description for all the stuff that will be displayed in statusbar */
#statusbar {
  height: 30px;
  
  background-color: var(--color-base);
}
/* END OF STATUSBAR STYLING */

/* END OF GLOBAL STYLING */

/* STYLING FOR WORKSPACE. This styling applies to workspace stage of app.  */

#sidebar {
  background-color: var(--color-light);
  width: 64px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

#sidebar-button-container {
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-button {
  background-color: var(--color-light);
  height: 48px;
  width: 48px;
  color: var(--color-text);
  font-size: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms;
  user-select: none;
  cursor: pointer;
}
.sidebar-button:hover {
  color: var(--color-text-highlight);
  font-size: 40px;
}
.sidebar-button.selected {
  font-size: 40px;
  color: var(--color-text-highlight);
}

#sidebar-gutter {
  width: 16px;
}
#sidebar-gutter-selected {
  color: var(--color-text-highlight);
  height: 48px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
#sidebar-gutter-spacer{
  height: 0px;
  transition: 250ms cubic-bezier(.45,0,.45,1.5);
}


#project-tree-view{
  background-color: var(--color-darkest);
  width: var(--default-project-view-width);
  resize: horizontal;
  max-width: 80%;
  flex: 0 0 auto;
}

#project-tree-view-resizer {
  transition: linear;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  background-color: var(--color-darkest);
  width: 6px;
  cursor: col-resize;
  user-select: none;

}
#project-tree-view-resizer:hover {
  background-color: var(--color-light);
}
#project-tree-view-resizer:active {
  background-color: var(--color-text);
}
#project-tree-view-resizer-image {
  pointer-events: none;
}

#workspace {
  background-color: var(--color-dark);

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

#tab-container {
  background-color: var(--color-light);
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: start;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: 2px;
}
#tab-container::-webkit-scrollbar {
  height: 2px;
  background-color: var(--color-dark);
}
#tab-container::-webkit-scrollbar-thumb {
  background-color: var(--color-base);
}
#tab-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
}

.tab {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  width: 128px;
  max-width: 256px;
  border-right: 1px solid var(--color-base);
  color: var(--color-text);
  font-family: 'NovaSquareRegular';
  user-select: none;
  transition: 150ms linear;
}
.tab:hover {
  background-color: var(--color-base);
  color: var(--color-text-highlight);
}

.tab#selected {
  background-color: var(--color-dark);
  color: var(--color-text);
}
.tab#selected:hover {
  background-color: var(--color-base);
  color: var(--color-text-highlight);
}

#breadcrumbs {
  font-family: 'NovaSquareRegular';
  font-size: 14px;
  background-color: var(--color-dark);
  height: 16px;
  width: calc(100% - 16px);
  flex-grow: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: 2px;
}
#breadcrumbs::-webkit-scrollbar {
  height: 2px;
  background-color: var(--color-dark);
}
#breadcrumbs::-webkit-scrollbar-thumb {
  background-color: var(--color-base);
}
#breadcrumbs:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
}

.breadcrumbs-text {
  max-width: 256px;
  text-overflow: ellipsis;
  overflow: hidden; 
  flex: 0 0 auto;
  padding-left: 6px;
  padding-right: 6px;
  color: var(--color-text);
  white-space: nowrap;
}
.breadcrumbs-text:hover {
  color: var(--color-text-highlight);
  text-decoration: underline;
  cursor: pointer;
  
}

.breadcrumbs-separator {
  color: var(--color-text);
}

#file-container {
  background-color: rgba(0, 0, 0, 0);
  flex-grow: 1;
  overflow-y: auto;
  transition-duration: 200ms;
  box-shadow: inset 0 0px 0px 0px var(--color-darkest), inset 0 0px 0px 0px var(--color-darkest);
}
#file-container.top-shadow {
  box-shadow: inset 0 6px 4px -3px var(--color-darkest), inset 0 0px 0px 0px var(--color-darkest);
}
#file-container.bottom-shadow {
  box-shadow: inset 0 0px 0px 0px var(--color-darkest), inset 0 -6px 4px -3px var(--color-darkest);
}
#file-container.both-shadows {
  box-shadow: inset 0 6px 4px -3px var(--color-darkest), inset 0 -6px 4px -3px var(--color-darkest);
}
#file-container::-webkit-scrollbar {
  width: 8px;
}
#file-container::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}
#file-container::-webkit-scrollbar-thumb {
  background-color: var(--color-base);
}
#file-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light);
}
/* END OF WORKSPACE STYLING */

